@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Rubik:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(90deg, var(--purple-dark1) 25%, var(--purple-dark4) 40%, var(--purple-dark2) 75%, var(--purple-dark1) 100%);
    ;
}

// nav

.navbar-flex {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background: var(--gray-dark);
            background: linear-gradient(linear-gradient(90deg, var(--purple-dark4) 25%, var(--purple-dark2) 50%, var(--purple-dark3) 75%, var(--purple-dark4) 100%));
       
    .navbarLogo {
        margin-left: 3em;
        color: white;
        display: flex;
        flex-direction: row;
        align-self: center;
        h1{
            align-self: center;
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 2em;
        }
        
    }

    .navbarBotones {
margin-right: 20px;
        ul {
            list-style-type: none;
            height: 40px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            }
    }
}

li {
    display: inline-flex;
    color: white;
    margin: 5px;
    margin-left: 10px;
    
    font-size: 1.2em;
}

// fin del nav - empieza introducción  -

.introduccion {
    display: grid;
    grid-template-columns: 15% 15% 20% 20% 15% 15%;
    grid-template-rows: 30% 15% 15% 10% 20%;


    .catalogTitle {
        grid-column-start: 2;
        grid-row-start: 2;
        color: var(--purple-dark2);
        text-shadow: black;
        margin-left: -10px;
        text-align: center;
    }

    .submitButton {
        grid-column-start: 2;
        grid-row-start: 3;
        height: 50px;
    }

    // separador de grid y fondo //
    background: url("/assets/img/firstbackground.png") no-repeat center;
    background-size: cover;
    height: 95vh;
}

.submitButton {
    display: inline-flex;
    background-color: var(--purple-dark4);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
}

// fin primera introduccion, sigue el "quienes somos"

.quienesSomos {
    background: rgb(12, 0, 50);
    background: radial-gradient(circle, rgba(12, 0, 50, 1) 5%, rgba(36, 0, 144, 1) 38%, rgba(53, 0, 211, 1) 51%, rgba(25, 0, 97, 1) 65%);
    height: 35em;
    display: flex;
    border-top: 5px solid white;

    .maquetado {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;


        .introduccionTitle {
            color: var(--purple-dark2);
            font-size: 4em;
            text-align: center;
            align-self: flex-start;
            z-index: 1;
            margin-left: 1em;
            margin-top: 1em;
            background-color: white;
        }

        .introduccionDigest {
            background-color: var(--purple-dark2);
            color: white;
            align-self: flex-end;
            padding:1em;
            font-size: 1.6em;
            max-width: 10em;
            z-index: 1;
            margin-bottom: 2em;
        }

        .blackBox {
            background-color: var(--gray-dark);
            overflow: hidden;
            position: absolute;
            border-radius: 5%;
            width: 300px;
            height: 300px;
            border: 3px groove white
        }

    }
}



:root {
    --purple-dark1: #0c0032;
    --purple-dark2: #190061;
    --purple-dark3: #240090;
    --purple-dark4: #3500d3;
    --gray-dark: #282828;
}