@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Rubik:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

body {
  background: linear-gradient(90deg, var(--purple-dark1) 25%, var(--purple-dark4) 40%, var(--purple-dark2) 75%, var(--purple-dark1) 100%);
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-flex .navbarLogo {
  margin-left: 3em;
  color: white;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.navbar-flex .navbarLogo h1 {
  align-self: center;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 2em;
}
.navbar-flex .navbarBotones {
  margin-right: 20px;
}
.navbar-flex .navbarBotones ul {
  list-style-type: none;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-flex;
  margin: 5px;
  margin-left: 10px;
  font-size: 1.2em;
  transition: 500ms;
}
li:hover {
  background-color: var(--purple-dark1);
  padding: 0px 30px;
  transition: 500ms;
  transform: translateY(0px);
}
li a {
  color: white;
  text-decoration: none;
}
li a:visited {
  color: white;
  text-decoration: none;
}

.introduccion {
  display: flex;
  justify-content: center;
  background: url("/assets/img/firstbackground.png") no-repeat center;
  background-size: cover;
  height: 95vh;
}
.introduccion .catalogTitle {
  color: white;
  text-align: center;
  font-size: 2.7em;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 1000;
}
.introduccion .submitButton {
  height: 55px;
  width: 120px;
  display: inline-flex;
  background-color: var(--purple-dark3);
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 268ms;
  transform: translateY(0);
}
.introduccion .submitButton:hover {
  transition: 268ms;
  padding: 0px 30px;
  color: white;
  background-color: var(--purple-dark4);
}
.introduccion div.title {
  display: flex;
  justify-content: space-evenly;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  background: black;
}

.quienesSomos {
  background-image: url("/assets/img/skeleton.jpg");
  background-size: 15%;
  height: 105vh;
  display: flex;
}
.quienesSomos .maquetado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.quienesSomos .maquetado .introduccionTitle {
  font-family: "Montserrat Subrayada", sans-serif;
  color: var(--purple-dark2);
  padding: 0.2em;
  font-size: 3em;
  text-align: center;
  z-index: 1;
  background-color: white;
  position: relative;
  bottom: 30%;
  right: 15%;
}
.quienesSomos .maquetado .introduccionDigest {
  background-color: var(--purple-dark2);
  color: white;
  padding: 0.6em;
  font-size: 1.6em;
  max-width: 10em;
  z-index: 1;
  margin-right: 4em;
  position: relative;
  top: 30%;
  left: 25%;
}
.quienesSomos .maquetado .blackBox {
  background-image: url("/assets/img/polaroid.jpg");
  background-size: 100%;
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 600px;
}

.catalogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.catalogText {
  width: 300px;
  display: flex;
  height: 100%;
  justify-content: flex-start;
}
.catalogText h3 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
}

.hilera1, .hilera2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -5px;
}
.hilera1 a img, .hilera2 a img {
  width: 300px;
  height: 300px;
  transition: 268ms;
  transform: translateY(0);
}
.hilera1 a img:hover, .hilera2 a img:hover {
  background-color: black;
  transition: 268ms;
  padding: 10px;
  transform: translateY(0);
}

/* footer */
.footer {
  border-top: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-dark);
  color: white;
  height: 26vh;
}

.formularioFlex {
  margin-top: 10px;
  max-width: 300px;
  order: 2;
}

.formularioFlexInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  max-width: 70%;
}

.formularioFlexInside label {
  align-self: flex-start;
}

.formularioFlexInside input {
  align-self: flex-start;
  width: 345px;
}

.footer p {
  order: 3;
}

.contacto {
  order: 1;
}
.contacto .redes a {
  color: white;
  padding: 0px 5px 0 5px;
  transition: 0.5s;
}
.contacto .redes a:hover {
  color: gray;
  padding: 10px;
  transition: 0.5s;
}

.redes {
  margin-top: 10px;
}

.botonEnviar {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

/*Login*/
.bodyLogin {
  background-image: url("/assets/img/skeleton.jpg");
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: black;
  color: white;
  border-radius: 5%;
  border: white 5px solid;
}
.form input {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}
.form h2 {
  margin-bottom: 15px;
}
.form .button {
  border-radius: 18px;
  cursor: pointer;
  color: #000000;
  font-size: 12px;
  padding: 15px 25px;
  left: 25%;
  position: relative;
}
.form a {
  color: var(--purple-dark4);
  text-decoration: none;
}
.form a:visited {
  color: var(--purple-dark4);
}

/*Register*/
.form.register {
  padding: 20px;
}
.form.register input {
  padding: 10px;
  width: 35em;
}
.form.register .button {
  text-align: center;
  margin-top: 5px;
  left: 0%;
}

.preferences {
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
  clear: none;
}
.preferences label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.preferences label input[type=radio], .preferences label input[type=checkbox] {
  width: 15px;
  margin: -3px 2px 0px 15px;
}

:root {
  --purple-dark1: #0c0032;
  --purple-dark2: #190061;
  --purple-dark3: #240090;
  --purple-dark4: #3500d3;
  --gray-dark: #282828;
}

/*Responsive*/
@media only screen and (max-width: 1366px) {
  a img {
    width: 170px;
    height: 170px;
  }
  .blackBox {
    width: 100px;
    height: 300px;
  }
}
@media only screen and (max-width: 1100px) {
  a img {
    width: 100px;
    height: 100px;
  }
  .blackBox {
    width: 100px;
    height: 300px;
    background-size: 50%;
  }
}/*# sourceMappingURL=styles.css.map */