@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Rubik:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(90deg, var(--purple-dark1) 25%, var(--purple-dark4) 40%, var(--purple-dark2) 75%, var(--purple-dark1) 100%);
}

// nav

.navbar-flex {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
       
    .navbarLogo {
        margin-left: 3em;
        color: white;
        display: flex;
        flex-direction: row;
        align-self: center;
        h1{
            align-self: center;
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 2em;
        }
        
    }

    .navbarBotones {
margin-right: 20px;
        ul {
            list-style-type: none;
            height: 40px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            }
    }
}

li {
    display: inline-flex;
    color: white;
    margin: 5px;
    margin-left: 10px;
    font-size: 1.2em;
    transition: 500ms;
    cursor: pointer;
    &:hover{
        background-color:var(--purple-dark1);
        padding: 0px 30px;
        transition: 500ms;
        transform : translateY(-0px);
    }
}



.introduccion {
    display: flex;
    justify-content: center;
    
    background:url("/assets/img/firstbackground.png") no-repeat center;
    background-size: cover;
    height: 95vh;

    .catalogTitle {
        color: white;
        text-align: center;
        font-size: 2.7em;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-weight: 1000;
    }

    .submitButton {
        height: 55px;
        width: 120px;
        display: inline-flex;
        background-color: var(--purple-dark3);
        color: white;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition : 268ms;
        transform: translateY(0);
        &:hover{
            background-color: var(--purple-dark4);
            transition : 268ms;
            padding: 0px 30px;
            color: black;

        }
    }

    div.title {
        display: flex;
        justify-content: space-evenly;
        height: fit-content;
        width: stretch;
        background: black
    }
}




.quienesSomos {
    background-image: url("/assets/img/skeleton.jpg");
    background-size: 15%;
    height: 105vh;
    display: flex;

    .maquetado {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;


        .introduccionTitle {
            font-family: 'Montserrat Subrayada', sans-serif;
            color: var(--purple-dark2);
            padding:0.2em;
            font-size: 3em;
            text-align: center;
            z-index: 1;
            background-color: white;
            position: relative;
            bottom: 30%;
            right: 15%;
        }

        .introduccionDigest {
            background-color: var(--purple-dark2);
            color: white;
            padding: 0.6em;
            font-size: 1.6em;
            max-width: 10em;
            z-index: 1;
            margin-right: 4em;
            position: relative;
            top: 30%;
            left: 25%;
        }

        .blackBox {
            
            background-image: url("/assets/img/polaroid.jpg");
            background-size: 100%;
            overflow: hidden;
            position: absolute;
            width: 600px;
            height: 600px;
        }

    }
}




/* SEGUNDA SECCIÓN */


.catalogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

.catalogText{
    width:300px;
    display: flex;
    height: 100%;

    justify-content: flex-start;
    h3{
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 2em;
            text-align: center;
            color: white;
    }
}


  a img{
    width: 300px;
    height: 300px;
    transition : 268ms;
    transform: translateY(0);
        &:hover{
            background-color: black;
            transition : 268ms;
            padding: 30px;
            transform: translateY(-0);
  }}


  .hilera1, .hilera2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: -5px;
  }
  
    /* footer */
    .footer {
      border-top: 5px solid white;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      background-color: var(--gray-dark);
      color: white;
      height:max-content;
    }
  
  .formularioFlex{
    margin-top: 10px;
    max-width: 300px;
    order:2;
  }
  
    .formularioFlexInside{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width:350px;
      max-width: 70%;
      
    }
  
    .formularioFlexInside label{
      align-self: flex-start;
    }
    .formularioFlexInside input{
      align-self: flex-start;
      width:345px;
      
    }
  .footer p{
    order:1;
  }
  .contacto{
    order:3;
  }
  .contacto a{
    color:white;
    transform:scale(2);
    transition: transform 1s;
    padding: 0px 5px 0 5px;
  }
  .redes{
    margin-top:10px;
  }
  .contacto .redes :hover{
    transition: transform 0.5s;
    transform:scale(2);
  }
  .contacto a:hover{
    color:gray;
  }
  
  .botonEnviar{
    margin-top: 10px;
    width:120px;
    height:40px;
    cursor:pointer;
  }






:root {
    --purple-dark1: #0c0032;
    --purple-dark2: #190061;
    --purple-dark3: #240090;
    --purple-dark4: #3500d3;
    --gray-dark: #282828;
}